<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="~/css/cover.css" rel="stylesheet" />
    
</head>
<body>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <header class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">xcorp</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="nav-link" asp-controller="Cliente" asp-action="Index">Clientes</a>
                        </nav>
                    </div>
                </header>

                <main role="main" class="inner cover">
                    @RenderBody()
                </main>

                <footer class="mastfoot">
                    <div class="inner">
                        <p>Treinamento Azure <a href="http://xcorp-cadcli.azurewebsites.net">xcorp-azure</a>, por <a href="https://twitter.com/alexrondao">alexrondao</a>.</p>
                    </div>
                </footer>

            </div>

        </div>

    </div>

    <div>
        <environment names="Development">
            Dev
        </environment>
        <environment names="Production">
            Produção
        </environment>
        <environment names="Stagging">
            Homologação
        </environment>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
